apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://docker.for.mac.localhost:9090
    basicAuth: false
    isDefault: true
    editable: true